<div class="form-group form-inline mt-5" >
  <select name="" id="" class="form-control">
    <option value="">Search kriteria</option>
  </select>
  <input type="text" placeholder="Search Box" class="form-control">
</div>
<table class="table table-bordered ">
  <thead class="table-primary">
  <tr>
    <th>Nomor kerangka</th>
    <th>Nomor Polisi</th>
    <th>Merk</th>
    <th>Tipe</th>
    <th>Tahun</th>
    <th>Opsi</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let mobil of mobils" >
      <td>{{ mobil.nomorKerangka}}</td>
      <td>{{ mobil.seriWilayah }} {{ mobil.nomor}} {{ mobil.seri }}</td>
      <td>{{ mobil.merkId }}</td>
      <td>{{ mobil.typeId }}</td>
      <td>{{ mobil.tahun }}</td>
      <td>
        <div class="btn btn-group">
          <button class="btn btn-sm btn-info" (click)="modaladdOrUpdate(mobil)">Edit</button>
          <button class="btn btn-sm btn-danger">Delete</button>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot>
  <tr>
    <td>Total Mobil :  </td>
  </tr>
  </tfoot>
</table>
