<div class="mt-5">
  <button class="btn btn-primary btn-lg" (click)="getAllMobil()">
    Tampilkan Semua
  </button>
  <div class="form-group form-inline  float-right">
    <select class='form-control' [(ngModel)]="criteria" >
      <option value='0'>- Select Criteria -</option>
      <option value='1'>Merk</option>
      <option value='2'>Type</option>
    </select>
    <input type="text" placeholder="Search Box" class="form-control" [(ngModel)]="criteriaValue">
    <button class="btn btn-secondary" (click)="searchCriteria()" >
      <fa-icon [icon]="faSearch"></fa-icon>
    </button>
  </div>
</div>

<table class="table table-bordered ">
  <thead class="table-primary">
  <tr>
    <th>Nomor kerangka</th>
    <th>Nomor Polisi</th>
    <th>Merk</th>
    <th>Tipe</th>
    <th>Tahun</th>
    <th>Opsi</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let mobil of mobils">
    <td>{{ mobil.nomorKerangka}}</td>
    <td>{{ mobil.seriWilayah }} {{ mobil.nomor}} {{ mobil.seri }}</td>
    <td>{{ mobil.merkBrand }}</td>
    <td>{{ mobil.typeNama }}</td>
    <td>{{ mobil.tahun }}</td>
    <td>
      <div class="btn btn-group">
        <button class="btn btn-sm btn-info" (click)="modaladdOrUpdate(mobil)">Edit</button>
        <button class="btn btn-sm btn-danger" (click)="modalDelete(mobil.id)">Delete</button>
      </div>
    </td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="5">Total Mobil : {{ mobils.length }} </td>
    <td>
      <button class="btn btn-block btn-success" (click)="modaladdOrUpdate()">
        Tambah Mobil
      </button>
    </td>
  </tr>
  </tfoot>
</table>
